.OverlayPrincipal {
  position: fixed;
  inset: 0;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
}

.ReactModal__Content {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: auto;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.closeModal {
  background: red;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
